@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

@media screen and (max-width: 375px) {
  .qr{
      min-width: 25rem;
     
  }
}

  body {
    background-color: hsl(212, 45%, 89%);
  }

  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    display: flex;
    align-items: center;
    border-radius: 5%;
    max-width: 30rem;
  }

  .card-img-top {
    max-width: 25rem;
    border-radius: 5%;
    padding: 2px 0;
    margin: 1rem 0;
  }

  .card-body {
    max-width: 28rem;
  }

  .card-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1px;
    margin: 0 1px;
    color: hsl(218, 44%, 22%);
  }

  .card-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 8px;
    color: hsl(220, 15%, 55%);
    margin: 0.5rem;
  }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footer, .footer a {
  font-size: 1.5rem;
}